.bg-light {
    background-color: #c80046 !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: #a00038;
}

.btn-outline-success:active {
    background-color: #85002f;
}

