<div class="container">
    <div class="form">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="col-md-6 mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Autor</label>
                <input type="text" class="form-control" formControlName="autor">
            </div>
            <div class="col-12 mb-3">
                <label class="form-label">Descripción</label>
                <textarea class="form-control" rows="3" formControlName="texto"></textarea>
            </div>
            <div class="col-12 mb-3">
                <label class="form-label">Imagen</label>
                <input type="text" class="form-control" placeholder="URL de la imagen" formControlName="imagen">
            </div>
            <div class="col-md-6">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control" placeholder="dd-mm-aaaa" formControlName="fecha">
            </div>
            <div class="col-md-6">
                <label class="form-label">Categoría</label>
                <select class="form-control" formControlName="categoria">
                    <option selected disabled value="">Selecciona...</option>
                    <option value="marketing">Marketing Digital</option>
                    <option value="ux">UX/UI</option>
                    <option value="desarrollo">Desarrollo web</option>
                    <option value="cms">CMS</option>
                    <option value="seo">SEO/SEM</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary mt-4">Subir post</button>
            </div>
        </form>
    </div>
</div>